<header th:fragment="header">
	<!--Navigation bar-->
	<nav
		class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark
            ftco-navbar-light"
		id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="index.html" th:text="#{client.index.homepageLabel}"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#ftco-nav" aria-controls="ftco-nav"
				aria-expanded="false" aria-label="Toggle navigation" 
				th:text="#{client.index.btnMenu}"> 
				<span class="oi oi-menu"></span>
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">

					<li class="nav-item active"><a href="index.html"
						class="nav-link" th:text="#{client.index.navLinkHome}"></a></li> 

					<li class="nav-item"><a href="candidates.html"
						class="nav-link" th:text="#{client.index.navLinkCandidate}"></a></li>

					<li class="nav-item"><a href="companies.html" 
						class="nav-link" th:text="#{client.index.navLinkCompany}"></a></li>

					<li class="nav-item"><a href="jobs.html" 
						class="nav-link" th:text="#{client.index.navLinkJob}"></a></li>

					<li class="nav-item"><a href="about.html" 
						class="nav-link" th:text="#{client.index.navLinkAbout}"></a></li> 
						
					<li class="nav-item cta mr-md-1"><a href="register.html"
						class="nav-link" th:text="#{client.index.navLinkSignup}"></a></li>

					<li class="nav-item cta cta-colored"><a href="login.html"
						class="nav-link" th:text="#{client.index.navLinkSignin}"></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- END nav -->
</header>
