<link rel="stylesheet" th:href="@{/client/assets/css/404.css}">
<script th:src="@{/client/assets/js/404.js}"></script>

<div class="container">
    <div class="row">
        <div class="xs-12 md-6 mx-auto">
            <div id="countUp">
                <div class="number" data-count="404">0</div>
                <div class="text">Page not found</div>
                <div class="text">This may not mean anything.</div>
                <div class="text">I'm good bro</div>
            </div>
        </div>
    </div>
</div>            
            