<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="usersDAO" class="vn.sun.DAO.client.impl.UsersDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="jobTypesDAO" class="vn.sun.DAO.client.impl.JobTypesDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="candidatesDAO" class="vn.sun.DAO.client.impl.CandidatesDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>